.logIn {
  position: relative;
  left: 600px;
  top: 300px;
  h1 {
    margin-left: 130px;
    color: #1890ff;
  }
  input {
    width: 300px;
    height: 30px;
  }
  .password {
    position: absolute;
    top: 120px;
    left: 0px;
  }
  .button {
    position: absolute;
    top:200px;
    left: 9px;
    .loginButton,
    .registerButton {
      background-color: #1890fc;
      color: #fff;
      border: none;
      width: 100px;
      height: 30px;
      margin-right: 110px;
      &:focus {
        opacity: 0.8;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
