.logIn {
  position: relative;
  left: 600px;
  top: 300px;
  h1 {
    margin-left: 130px;
    color: #1890ff;
  }
  input {
    width: 300px;
    height: 30px;
  }
  .password {
    position: absolute;
    top: 120px;
    left: 0px;
  }
  .radioGroup{
    position: absolute;
    top: 170px;
    left: 33px;
  }
  .button {
    position: absolute;
    top:200px;
    left: 0px;
    .loginButton,
    .registerButton {
      // background-color: #1890fc;
      width: 100px;
      height: 30px;
      margin-right: 110px;    
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
